body{
    background: url('blur-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
video{
    aspect-ratio: 16/9;
    margin:  0px ;
    border: 3px solid white;
    width: 80%;
}
